@use '@angular/material' as mat;
.Pokemon-Preview-card{
    max-width: 400px;
  }
  
  .AvatarCard {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }