
.Pokemon-Preview-card{
    max-width: 300px;
  }
  
  .AvatarCard {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  img.resize {
    width:50%; /* you can use % */
    height: auto;
}